

.all-users-container {
    margin: 20px;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.user-details {
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.user-actions button:hover {
    background-color: #0056b3;
}
